AWSTemplateFormatVersion: '2010-09-09'
Transform: AWS::Serverless-2016-10-31
Description: >
  AWS

  Template generated with Typhoon Orchestrator

Globals:
  Function:
    Runtime: python3.6
    Timeout: {{ lambda_function_timeout }}

Resources:
  {% for dag in dags %}
  {{ dag.name | to_camelcase }}Function:
    FunctionName: {{ dag.name | to_camelcase }}Function
    Type: AWS::Serverless::Function
    Properties:
      CodeUri: {{ dag.name }}/
      Handler: {{ dag.name }}.{{ dag.name }}_main
      {% if dag.get('schedule_interval') %}
      Events:
        DagScheduledEvent:
          Type: Schedule
          Properties:
            Schedule: {{ dag.schedule_interval }}
      {% endif %}
      {% if dag.get('custom_events') %}
      {{ dag.custom_events | indent(3) }}
      {% endif %}
      Environment:
        Variables:
          TYPHOON_ENV: {{ environment }}
      Policies:
        - LambdaInvokePolicy:
            FunctionName: orchestrator-test-{{ dag.name | to_camelcase }}Function
        - DynamoDBReadPolicy:
            TableName: {{ connections_table_name }}
        - DynamoDBReadPolicy:
            TableName: {{ variables_table_name }}
        - S3CrudPolicy:
            BucketName: typhoon-data-lake

  {% endfor %}

Outputs:
  {% for dag in dags %}
  {{ dag.name | to_camelcase }}Function:
    Description: "Hello World Lambda Function ARN"
    Value: !GetAtt {{ dag.name | to_camelcase }}Function.Arn
  {% endfor %}
